*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height:80%;
    width:80%;
    background-color: white;
}

.navbar{
    width: 100%;
    height:16%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width:10%;
}
.listitem{
    height: auto;
    width: 50%;
}
.listitem ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 100%;
}

.listitem li{
    list-style: none;
}

.gallerysection{
    width:100%;
    height:84%;
    /* background-color: aqua; */
}
.gall-images{
    height: 100%;
    width: 100%;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(4,auto);

}
.gal-img{
    height: 200px;
    width: 200px;
}
.gal-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.gallerysection p{
    margin-left:50px;
    padding:7px;
    font-weight: 900;
}
.listitem a{
    color:white;
    text-decoration: none;
}